 <style>
 nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
body {
        background: #0c0c0c;
        color: white;
         font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;

        padding: 20px;
    }
.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: "Archivo Black", sans-serif; /* yeh important hai */
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
        table {
            width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.05);
        }
        th, td {

              padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        }
        th {
             background: #f9004d;
        }
        h1 {
            font-size: 36px;
            font-weight: 600;
             text-align: center;
        }
    </style>
